# Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest tares
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

In [116]:
import pandas as pd

In [117]:
# שער ההמרה של דולר לשקל 
USD_to_ILS_exchange_rates = pd.read_csv('USD_ILS Historical Data.csv')
USD_to_ILS_exchange_rates = USD_to_ILS_exchange_rates.drop(['Open', 'Change %', 'High', 'Low', 'Vol.'], axis=1)

In [118]:
# המרה של הפורמט של התאריך
USD_to_ILS_exchange_rates['Date'] = pd.to_datetime(USD_to_ILS_exchange_rates['Date'])

In [119]:
# הפרדת העמודה של התאריך לשתי עמודות נפרדות אחת של שנה ואחת של חודש
USD_to_ILS_exchange_rates['Month'] = USD_to_ILS_exchange_rates['Date'].dt.month
USD_to_ILS_exchange_rates['Year'] = USD_to_ILS_exchange_rates['Date'].dt.year
USD_to_ILS_exchange_rates = USD_to_ILS_exchange_rates.drop('Date', axis=1)

In [120]:
USD_to_ILS_exchange_rates['Current_Rate'] = USD_to_ILS_exchange_rates['Price']
USD_to_ILS_exchange_rates = USD_to_ILS_exchange_rates.drop('Price', axis=1)

In [121]:
# הוספת עמודה שתציג את היחס של ה price של אותה שורה לשורה הקודמת
USD_to_ILS_exchange_rates['Change_From_Last_Month'] = USD_to_ILS_exchange_rates['Current_Rate'].diff()
USD_to_ILS_exchange_rates.head()

   Month  Year  Current_Rate  Change_From_Last_Month
0      1  2023        3.4492                     NaN
1     12  2022        3.5177                  0.0685
2     11  2022        3.4076                 -0.1101
3     10  2022        3.5214                  0.1138
4      9  2022        3.5628                  0.0414

In [122]:
# ריבית בנק ישראל
israel_interest = pd.read_csv('data.csv')
israel_interest = israel_interest.drop('Unnamed: 0', axis=1)

In [123]:
# המרה של הפורמט של התאריך
israel_interest['Time period'] = pd.to_datetime(israel_interest['Time period'])

In [124]:
# הפרדת העמודה של התאריך לשתי עמודות נפרדות אחת של שנה ואחת של חודש
israel_interest['Year'] = israel_interest['Time period'].dt.year
israel_interest['Month'] = israel_interest['Time period'].dt.month
israel_interest = israel_interest.drop('Time period', axis=1)

In [125]:
israel_interest['Current_Rate'] = israel_interest['BNK_99001_MA_GNRL_1:M:99001:E']
israel_interest = israel_interest.drop('BNK_99001_MA_GNRL_1:M:99001:E', axis=1)

In [126]:
# הוספת עמודה שתציג את היחס של ה price של אותה שורה לשורה הקודמת
israel_interest['Change_From_Last_Month'] = israel_interest['Current_Rate'].diff()
israel_interest.head()

   Year  Month  Current_Rate  Change_From_Last_Month
0  1994      1         11.78                     NaN
1  1994      2         11.87                    0.09
2  1994      3         11.87                    0.00
3  1994      4         11.87                    0.00
4  1994      5         12.24                    0.37

In [127]:
# ריבית הדולר
US_Interest = pd.read_csv('FEDFUNDS.csv')

In [128]:
# המרה של הפורמט של התאריך
US_Interest['DATE'] = pd.to_datetime(US_Interest['DATE'])

In [129]:
# הפרדת העמודה של התאריך לשתי עמודות נפרדות אחת של שנה ואחת של חודש
US_Interest['Year'] = US_Interest['DATE'].dt.year
US_Interest['Month'] = US_Interest['DATE'].dt.month
Interest_rates_in_the_US = US_Interest.drop('DATE', axis=1)

In [130]:
# הוספת עמודה שתציג את היחס של ה price של אותה שורה לשורה הקודמת
US_Interest['Change_From_Last_Month'] = US_Interest['FEDFUNDS'].diff()
US_Interest.head()

        DATE  FEDFUNDS  Year  Month  Change_From_Last_Month
0 1954-07-01      0.80  1954      7                     NaN
1 1954-08-01      1.22  1954      8                    0.42
2 1954-09-01      1.07  1954      9                   -0.15
3 1954-10-01      0.85  1954     10                   -0.22
4 1954-11-01      0.83  1954     11                   -0.02

In [131]:
# your code here

## Part A: Single DataFrame Analysis 
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [132]:
# A - 1
# your code here
Interest_rates_in_the_US.head()

   FEDFUNDS  Year  Month
0      0.80  1954      7
1      1.22  1954      8
2      1.07  1954      9
3      0.85  1954     10
4      0.83  1954     11

In [134]:
# A - 2
# your code here
israel_interest['Current_Rate'].mean()

6.390991780821918

In [135]:
# A - 3
# your code here
id_max = USD_to_ILS_exchange_rates['Change_From_Last_Month'].idxmax()
USD_to_ILS_exchange_rates.loc[id_max]

Month                        4.0000
Year                      2009.0000
Current_Rate                 4.1730
Change_From_Last_Month       0.2692
Name: 165, dtype: float64

In [136]:
# A - 4
# your code here
sum_decreased  = US_Interest['Change_From_Last_Month'] < 0
sum_decreased.sum()

328

In [137]:
# A - 5
# your code here
israel_interest['Change_Percentage'] = israel_interest['Change_From_Last_Month'] / israel_interest['Current_Rate'] * 100
israel_interest

     Year  Month  Current_Rate  Change_From_Last_Month  Change_Percentage
0    1994      1        11.780                     NaN                NaN
1    1994      2        11.870                   0.090           0.758214
2    1994      3        11.870                   0.000           0.000000
3    1994      4        11.870                   0.000           0.000000
4    1994      5        12.240                   0.370           3.022876
..    ...    ...           ...                     ...                ...
360  2024      1         6.024                  -0.226          -3.751660
361  2024      2         6.000                  -0.024          -0.400000
362  2024      3         6.000                   0.000           0.000000
363  2024      4         6.000                   0.000           0.000000
364  2024      5         6.000                   0.000           0.000000

[365 rows x 5 columns]

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [138]:
# B - 1
# your code here
interest_israel_us = pd.merge(israel_interest, US_Interest, how='inner', on=['Year', 'Month'])
interest_israel_us.head()

,Year,Month,Current_Rate,Change_From_Last_Month_x,Change_Percentage,DATE,FEDFUNDS,Change_From_Last_Month_y
0,1994,1,11.78,NaN,NaN,1994-01-01,3.05,0.09
1,1994,2,11.87,0.09,0.758214,1994-02-01,3.25,0.20
2,1994,3,11.87,0.00,0.000000,1994-03-01,3.34,0.09
3,1994,4,11.87,0.00,0.000000,1994-04-01,3.56,0.22
4,1994,5,12.24,0.37,3.022876,1994-05-01,4.01,0.45

In [140]:
# B - 2
# your code here
interest_israel_us['Rate_Difference '] = interest_israel_us['Current_Rate'] - interest_israel_us['FEDFUNDS']

interest_israel_us.head()

,Year,Month,Current_Rate,Change_From_Last_Month_x,Change_Percentage,DATE,FEDFUNDS,Change_From_Last_Month_y,Rate_Difference
0,1994,1,11.78,NaN,NaN,1994-01-01,3.05,0.09,8.73
1,1994,2,11.87,0.09,0.758214,1994-02-01,3.25,0.20,8.62
2,1994,3,11.87,0.00,0.000000,1994-03-01,3.34,0.09,8.53
3,1994,4,11.87,0.00,0.000000,1994-04-01,3.56,0.22,8.31
4,1994,5,12.24,0.37,3.022876,1994-05-01,4.01,0.45,8.23

In [141]:
# B - 3
# your code here
interest_israel_us['Rate_Difference_Percentage'] = ((interest_israel_us['Current_Rate'] - interest_israel_us['FEDFUNDS']) / interest_israel_us['FEDFUNDS']) / 100

In [142]:
def Rate_Comparison(column):
    list_of_columns = []
    for row in column:
        if row >= 0.01:
            list_of_columns.append('IH')
        elif row <= -0.01:
            list_of_columns.append('UH')
        else:
            list_of_columns.append('N')
    return list_of_columns

In [143]:
list_of_columns = Rate_Comparison(interest_israel_us['Rate_Difference_Percentage'])
interest_israel_us['Rate_Comparison'] = list_of_columns
interest_israel_us.head()

,Year,Month,Current_Rate,Change_From_Last_Month_x,Change_Percentage,DATE,FEDFUNDS,Change_From_Last_Month_y,Rate_Difference,Rate_Difference_Percentage,Rate_Comparison
0,1994,1,11.78,NaN,NaN,1994-01-01,3.05,0.09,8.73,0.028623,IH
1,1994,2,11.87,0.09,0.758214,1994-02-01,3.25,0.20,8.62,0.026523,IH
2,1994,3,11.87,0.00,0.000000,1994-03-01,3.34,0.09,8.53,0.025539,IH
3,1994,4,11.87,0.00,0.000000,1994-04-01,3.56,0.22,8.31,0.023343,IH
4,1994,5,12.24,0.37,3.022876,1994-05-01,4.01,0.45,8.23,0.020524,IH

In [145]:
# B - 4
# your code here
interest_israel_us_exchange_rate = pd.merge(interest_israel_us, USD_to_ILS_exchange_rates, how='inner', on=['Year', 'Month'])
interest_israel_us_exchange_rate.head()

,Year,Month,Current_Rate_x,Change_From_Last_Month_x,Change_Percentage,DATE,FEDFUNDS,Change_From_Last_Month_y,Rate_Difference,Rate_Difference_Percentage,Rate_Comparison,Current_Rate_y,Change_From_Last_Month
0,1994,1,11.78,NaN,NaN,1994-01-01,3.05,0.09,8.73,0.028623,IH,2.9872,0.0112
1,1994,2,11.87,0.09,0.758214,1994-02-01,3.25,0.20,8.62,0.026523,IH,2.9760,0.0099
2,1994,3,11.87,0.00,0.000000,1994-03-01,3.34,0.09,8.53,0.025539,IH,2.9661,-0.0349
3,1994,4,11.87,0.00,0.000000,1994-04-01,3.56,0.22,8.31,0.023343,IH,3.0010,-0.0350
4,1994,5,12.24,0.37,3.022876,1994-05-01,4.01,0.45,8.23,0.020524,IH,3.0360,0.0093

In [148]:
# B - 5
# your code here

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

In [ ]:
# Bonus

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [ ]:
# Your code here